.intro
  .wrapper

    .title
      Продажа парфюмерии Montale

    .subtitle
      Дарим скидку 
      %span.bold 700 рублей
      %br
      при покупке любого аромата
      %br
      Montale только до
      %span.bold 7 сентября


    .button#show-form
      Получить скидку 700 рублей