.intro
  .wrapper

    .title
      Продажа парфюмерии Montale

    .subtitle
      От официального дилера
      %br
      со скидкой
      %span.bold 50%
      %br
      только
      %span.bolder до 20 июля


    .button#show-form
      Получить каталог со скидкой